<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>天气</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>天气</string>
                </array>
            </dict>
            <key>文件</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>文件</string>
                </array>
            </dict>
            <key>新闻</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>新闻</string>
                </array>
            </dict>
            <key>日历</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>日历</string>
                </array>
            </dict>
            <key>时间</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>时间</string>
                </array>
            </dict>
            <key>计算机</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>计算机</string>
                </array>
            </dict>
            <key>预设</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>icon-20</string>
                    <string>icon-29</string>
                    <string>icon-40</string>
                    <string>icon-60</string>
                </array>
            </dict>
        </dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string></string>
            </array>
            <key>CFBundleIconName</key>
            <string></string>
            <key>UIPrerenderedIcon</key>
            <false/>
        </dict>
        <key>UINewsstandIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string></string>
            </array>
            <key>UINewsstandBindingEdge</key>
            <string>UINewsstandBindingEdgeLeft</string>
            <key>UINewsstandBindingType</key>
            <string>UINewsstandBindingTypeMagazine</string>
        </dict>
    </dict>
</dict>
</plist>
